<?xml version="1.0"?>
<!--
/**
 * Warehouse
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="SY\Warehouse\Api\Data\WarehouseInterface" type="SY\Warehouse\Model\Warehouse" />
	<virtualType name="SYWarehouseGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="SYWarehouseGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">SY\Warehouse\Model\ResourceModel\Warehouse\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">SYWarehouseGridFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="SY\Warehouse\Model\ResourceModel\Warehouse\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">sy_warehouse</argument>
			<argument name="resourceModel" xsi:type="string">SY\Warehouse\Model\ResourceModel\Warehouse</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="sy_warehouse_warehouses_listing_data_source" xsi:type="string">SY\Warehouse\Model\ResourceModel\Warehouse\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>