<?xml version="1.0"?>
<!--
/**
 * Warehouse
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_product_save_after">
		<observer name="sy_warehouse_catalog_product_save" instance="SY\Warehouse\Observer\Adminhtml\Catalog\Product\Save" />
	</event>
	<event name="catalog_product_delete_after">
		<observer name="sy_warehouse_catalog_product_delete" instance="SY\Warehouse\Observer\Adminhtml\Catalog\Product\Delete" />
	</event>
</config>